<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>StuRegistr</servlet-name>
        <servlet-class>Student.StuRegistr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUserId</servlet-name>
        <servlet-class>Student.ValidateUserId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginId</servlet-name>
        <servlet-class>Student.ValidateLoginId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>Student.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>Student.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgDisp</servlet-name>
        <servlet-class>DB.ImgDisp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuUpdateProfileServlet</servlet-name>
        <servlet-class>Student.StuUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuChngPswd</servlet-name>
        <servlet-class>Student.StuChngPswd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuLogOut</servlet-name>
        <servlet-class>Student.StuLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddTeahcer</servlet-name>
        <servlet-class>admin.AdminAddTeahcer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>admin.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdtCursServlet</servlet-name>
        <servlet-class>admin.AdminUpdtCursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>admin.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovStuListServlt</servlet-name>
        <servlet-class>admin.ApprovStuListServlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLogOut</servlet-name>
        <servlet-class>admin.TeacherLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuApplyTest</servlet-name>
        <servlet-class>Student.StuApplyTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuSubmitAnswr</servlet-name>
        <servlet-class>Student.StuSubmitAnswr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StuRegistr</servlet-name>
        <url-pattern>/StuRegistr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserId</servlet-name>
        <url-pattern>/ValidateUserId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginId</servlet-name>
        <url-pattern>/ValidateLoginId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgDisp</servlet-name>
        <url-pattern>/ImgDisp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuUpdateProfileServlet</servlet-name>
        <url-pattern>/StuUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuChngPswd</servlet-name>
        <url-pattern>/StuChngPswd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuLogOut</servlet-name>
        <url-pattern>/StuLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddTeahcer</servlet-name>
        <url-pattern>/AdminAddTeahcer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/UpdateTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdtCursServlet</servlet-name>
        <url-pattern>/AdminUpdtCursServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovStuListServlt</servlet-name>
        <url-pattern>/ApprovStuListServlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLogOut</servlet-name>
        <url-pattern>/TeacherLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuApplyTest</servlet-name>
        <url-pattern>/StuApplyTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuSubmitAnswr</servlet-name>
        <url-pattern>/StuSubmitAnswr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
